*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: rgb(209, 34, 34);
    display: flex;
}
.sections{
    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    
   
}
section{
    background-color: rgb(150, 31, 31);
}