div{
    width: 250px;
    margin: auto;
    margin-top: 200px;
    text-align: center ;
    background-color: rgb(252, 252, 252);
    padding: 30px;
    border-radius: 20px;
    position: relative;

}
body{
    background-color: rgb(235, 135, 135);
    height: 1000px;
}
.hyd{
 width:50%;

  border-radius: 50%;
 height: 100px;
}
.logo{
    width:50px;
    position:absolute;
    top:0.1px;
    right: 0.1px;
    border-radius: 50%;
}

h3
{
    border-radius: 5px;
    background-color: aqua;
    padding: 7px;
    width: 100px;
    margin: auto;
}

.logo2{
    width:50px;
    position:fixed;
   bottom: 10px;
   right: 10px;
    border-radius: 50%;
}


/* *{
    margin: 0;
    padding:0;
}

.maindiv{
    
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 50px;
    background-color: antiquewhite;

}
img{
    margin: 20px;
    border-radius: 50%;
    padding: 10px;



}
h5{
    text-align: center;
    background-color: aqua;
    border-radius: 50%;
    padding: 20px;
    
}
h3{
    text-align: center;
}
p{
    text-align: center;
} */