
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  height: 60vh;
  background: url("assest/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 80px;
  color: white;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-text button {
  padding: 10px 25px;
  background: orange;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.activity {
  display: flex;
  padding: 60px 80px;
  align-items: center;
}

.activity .left {
  flex: 1;
}

.activity .left h1 {
  font-size: 32px;
  color: #003366;
  margin-bottom: 15px;
}

.activity .right {
  flex: 1;
}

.activity img {
  width: 100%;
}


.container {
  padding: 60px 80px;
}

.container h1 {
  font-size: 32px;
  color: #003366;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #f3f3f3;
  text-align: center;
  padding: 30px;
}

.card img {
  width: 100px;
  margin-bottom: 10px;
}

.card p {
  font-weight: bold;
  color: #860303;
}

/* FOOTER */
footer {
  padding: 60px 80px;
  text-align: center;
}

footer h1 {
  font-size: 28px;
  color: #003366;
  margin-bottom: 20px;
}

.types button {
  background: none;
  border: none;
  font-size: 16px;
  margin: 0 15px;
  cursor: pointer;
}
/* 