* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

nav {
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 20px;
    color: rgb(255, 26, 26);
}
/* main section */
main {
    height: 60vh;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: white;
}

.main {
    max-width: 500px;
}

.main h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.main p {
    font-size: 15px;
    line-height: 1.5;
}

.logo img {
    width: 200px;
}

/* bottom cars */
.cards {
    display: flex;
    height: 35vh;
}

.card {
    flex: 1;
     border-right: 3px solid #E60000;
    background-color: #860303;
    color: white;
    padding: 40px;
}

.card:last-child {
    border-right: none;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.card p {
    font-size: 15px;
    line-height: 1.5;
}
