*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
}
section{
    background-color: brown;
    width: 300px;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
     flex-shrink: 0;
    flex-grow: 0;
}
main{
    background-color: rgb(151, 151, 151);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
:root{
    --heading-color: rgb(214, 54, 54);
    --button-color: rgb(255, 255, 255);
}
.row{
    display: flex;
  flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    width: 200px;
    height: 200px;
    background-color: var(--heading-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media  screen and   (max-width: 900px){
    .row{
        flex-direction: column;
       
    }
   
}