*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width:100%;
    max-width: 800px;
    height: 600px;
    margin: auto;
   margin-top: 10px;
   border: 1px solid black;
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}

.child1{
    grid-column:1/3 ;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}
.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    text-align: center;
    /* margin: 20px; */
    background-color: rgb(235, 232, 232);
    padding: 20px;
}
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(243, 116, 12);
     display: flex;
     flex-direction: column;
     text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}
.child3 p{
    color: rgb(217, 255, 0);
}
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(164, 216, 250);
    display: flex;
   /* padding: 10px; */
        text-align: left;
        
    justify-content: space-between;
    align-items: center;
}
.child4 div{
    margin: 15px;
}
.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: rgb(132, 66, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.child5 .demo{
    background-color: rgba(163, 73, 236, 0.952);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    width: 100%;
} 
.child5 .demo p{
    color: rgb(255, 255, 255);
}
.child5 div{
     display: flex;
     flex-direction: column;
     text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    margin: 10px;
}
.child5 button{
    color: rgb(14, 1, 1);
    background-color: rgb(255, 208, 0);
    border-radius: 20px;
    padding: 10px 20px;


}
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: rgb(255, 199, 252);
    display: flex;
     flex-direction: column;
     text-align: center;    
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}