



/*  realtive--->  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 500px;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    border: 10px solid black;

}
.child{
    width: 100px;
    height: 100px;
}
.child1{
  background-color: red;
  position: absolute;
  left: 200px;

}
.child2{
    background-color: blue;
}
.child3{
    background-color: green;
}