*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width:800px;
    height: 600px;
    margin: auto;
   margin-top: 10px;
   border: 1px solid black;
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap :10px;

}

.child1{
    /* grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: brown;
}
.child2
{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: rgb(106, 152, 238);
}
.child3
{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: rgb(245, 164, 13);
}
.child4
{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: rgb(120, 224, 255);
}
.child5
{
    grid-column: 3/4;
    grid-row: 2/5;
    background-color: rgb(8, 43, 241);
}
.child6
{
    grid-column: 4/5;
    grid-row: 2/5;
    background-color: rgba(92, 236, 8, 0.863);
}
.child7
{
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: rgb(146, 253, 169);
}