*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 20px;
}
.main h1{
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}
.main p{
    color: #333333;
    
    margin-bottom: 15px;
}
.main button{
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.main{
    
    background-color: #c2bebe;
    text-align: left;
    padding: 60px;
    /* margin-top: 20px; */

    
}
section{
    background-color: #ffffff;
}
.sections{
    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
   
}
.sections h2{
    color: #000000;
    
    margin-bottom: 10px;
}
.sections p{
    color: #333333;
    margin-bottom: 10px;
    
}
.sections button{
    background-color: #a8a8a8;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
footer{
    padding: 20px;
    margin-left: 40px;
}